<div class="container">
  <h2>Select the movie you want to add to your <%= @list.name %> list </h2>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.label :insert_your_comment %>
    <%= f.text_field :comment %>
    <%= f.association :movie, as: :select %>
    <%= f.submit "Add movie to the list", class: "btn btn-primary"%>
  <% end %>
</div>
